body {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFBFE;
}
@font-face {
  font-family: 'Canicule';
  src:local('Canicule'), url(CaniculeDisplay.ttf), format('ttf');
}
.heading{
  font-family: 'Canicule';
  font-weight: 700;
  margin-bottom: 1rem;
  align-self: center;
  align-content: center;
  color:#FFFBFE
}